footer {
	display: flex;
	flex-direction: column;

	div#footer {
		display: flex;
		justify-content: center;
		border-top: 1px #ddd solid;

		> div {
			display: flex;
			width: 1064px;
			margin: 0 32px;
			> div {
				margin: 30px 0 46px 0;

				&:first-child {
					margin-right: 32px;
				}

				&:last-child {
					margin-left: 32px;
				}

				h3.widget-title {
					font-size: 26px;
				}
			}
		}
	}

	div#meta {
		display: flex;
		justify-content: center;
		border-top: 1px #ddd solid;

		> div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 40px;
			width: 1064px;
			font-size: 12px;
			margin: 0 32px !important;

			a {
				&:hover {
					color: #000;
					text-decoration: underline;
				}
			}
		}
	}
}

@media only screen and (max-width: 1064px) {
	footer {
		div#footer {
			> div {
				flex-direction: column !important;
				> div {
					margin: 0 !important;
					&:first-child {
						margin-top: 16px !important;
					}
					&:last-child {
						margin-bottom: 32px !important;
					}
				}
			}
		}
	}
}
