/* All sizes */
#cafe-page {
	section.one {
		margin-bottom: 0;

		img.bosse-gabby {
			margin-bottom: 16px;
			width: 100%;
			margin-right: 32px;
		}
		.first-title,
		.first-paragraph {
			margin-top: 0;
		}
	}
	section.two {
		.example img {
			width: 128px;
		}
	}
	.btn {
		width: 160px;
		margin-top: 16px;
	}
}
/* Only for computers */
@media only screen and (min-width: $large-screen-up) {
	/* #cafe-page {
	} */
}

/* Phones and tablets */
@media only screen and (max-width: $large-screen) {
	#cafe-page {
		section.one {
			img.bosse-gabby {
				margin-bottom: 16px;
				max-width: 100%;
				margin-right: 0;
			}
			.first-title {
				margin-top: 32px;
			}
		}
	}
}
