/* All sizes */
#history-page {
	img {
		width: 100%;
		max-width: 512px;
	}
}
/* Computers */
@media only screen and (min-width: $large-screen-up) {
	#history-page {
		img {
			float: left;
			max-width: 256px;
			padding-right: 16px;
		}
	}
}

/* Phones and Tablets */
@media only screen and (max-width: $large-screen) {
}
