#home-page {
	section {
		.card-image {
			max-width: 50%;
			margin: auto;
		}

		.feature-image {
			width: 100%;
		}
	}
}

/* Phones and tablets */
@media only screen and (max-width: $large-screen) {
	#home-page {
		section {
			&.full-width-small {
				margin: 0;
				margin-bottom: 32px;
			}

			.card-image {
				max-width: 30%;
			}

			/* div.home-brands {
				flex-direction: column;
			} */
		}
	}
}
