@import "./assets/scss/materialize/materialize";
@import "./assets/scss/_header";
@import "./assets/scss/_footer";
@import "./assets/scss/_home";
@import "./assets/scss/_bab";
@import "./assets/scss/_cafe";
@import "./assets/scss/_history";

/* Global Styles */
/* .hide {
	display: none !important;
} */

a {
	color: #666;
	text-decoration: none;

	&.inline-link {
		color: #666;
		text-decoration: underline;

		&:hover {
			color: #aaa;
		}
	}
}

.btn {
	padding: 4px 12px;
	font-size: 16px;
	background: #ddd;
	border-radius: 3px;
	border-bottom: #999 2px solid;
	cursor: pointer;

	&:focus {
		background: #eee;
	}
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	div#root {
		display: flex;
		min-height: 100vh;
		flex-direction: column;

		main {
			flex: 1 0 auto;

			> div {
				/* margin-top: 0px;
				margin-left: 0px;
				margin-right: 0px; */

				section {
					margin: auto;
					margin-bottom: 64px;
					max-width: 1064px;

					&:last-child {
						margin-bottom: 64px;
					}

					h2,
					h3,
					h4,
					h5 {
						text-align: center;
					}
				}
			}
		}
	}
}

/* Phones and tablets */
@media only screen and (max-width: 1064px) {
	body {
		div#root {
			main {
				> div {
					margin-top: 0;

					section {
						&:last-child {
							margin-bottom: 32px !important;
						}
					}
				}
			}
		}
	}
}
