$mobile-width: 1064;
$border: 0.5px solid #ccc;
$font-family: Georgia, "Times New Roman", Times, serif;
$font-family-header: Georgia, "Times New Roman", Times, serif;

@import "./assets/scss/_swiper-plugin.scss";

/* @font-face {
	font-family: Marck Script;
	src: url("./assets/fonts/Marck-Script.woff2");
}

@font-face {
	font-family: Roboto Slab;
	src: url("./assets/fonts/Roboto-Slab.woff2");
} */

@keyframes wave-animate {
	0% {
		width: 0;
		height: 0;
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

@keyframes spin-360 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-header;
	font-weight: 300;
}

h2 {
	font-size: 2.2em;
}

a {
	color: #666;
	text-decoration: none;
}

body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: $font-family;
	color: #666;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	div#root {
		display: flex;
		min-height: 100vh;
		flex-direction: column;

		header {
			display: flex;
			justify-content: center;

			nav {
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				width: 1064px;
				height: 96px;

				img.monogram {
					height: 64px;
					margin: 1em;
				}

				h1 {
					position: absolute;
					left: 3.5em;
					font-size: 2em;
					cursor: default;
					align-self: center;
				}

				ul.menu {
					display: flex;
					padding: 0;
					padding-right: 1rem;

					li {
						a {
							padding: 12px;
							font-size: 26px;
							border-radius: 3px;
							display: block;

							&.active {
								box-shadow: 0 -2px 0 inset rgba(0, 0, 0, 0.1);
								transition: box-shadow 0.7s;
							}
						}
					}
				}
			}

			.sidenav {
				position: fixed;
				width: 300px;
				right: 0;
				top: 0;
				margin: 0;
				transform: translateX(100%);
				height: 100%;
				height: -moz-calc(100%);
				height: calc(100% + 60px);
				padding-bottom: 60px;
				background: #fff;
				z-index: 999;
				overflow-y: auto;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				transform: translateX(105%);
				padding-left: 0;

				a {
					display: flex;
					flex-flow: column;
					line-height: 64px;
					font-size: 1.4rem;
					padding-left: 16px;

					&.active {
						box-shadow: 4px 0 0 inset rgba(0, 0, 0, 0.2);
					}

					&:hover {
						background: rgba(0, 0, 0, 0.05);
						color: #000;
					}

					&:focus {
						background: rgba(0, 0, 0, 0.1);
						outline: none;
					}
				}
			}

			.sidenav-overlay {
				position: fixed;
				top: 0;
				left: 0;
				height: 100vh;
				width: 100vw;
				background: #000;
				z-index: 999;
				opacity: 0.5;
				transition: opacity 0.3s;
			}

			.sidenav-overlay.hide {
				opacity: 0;
				height: 0vh;
				width: 0vw;
			}
		}

		main {
			flex: 1 0 auto;
			> div {
				margin-top: 64px;
				margin-left: 32px;
				margin-right: 32px;
				section {
					margin: auto;
					margin-bottom: 32px;
					max-width: 1064px;

					&:last-child {
						margin-bottom: 48px;
					}

					h2 {
						text-align: center;
					}
				}
			}
		}

		footer {
			display: flex;
			flex-direction: column;

			div#footer {
				display: flex;
				justify-content: center;
				border-top: 1px #ddd solid;

				> div {
					display: flex;
					width: 1064px;
					margin: 0 32px;
					> div {
						margin: 30px 0 46px 0;

						&:first-child {
							margin-right: 32px;
						}

						&:last-child {
							margin-left: 32px;
						}

						h3.widget-title {
							font-size: 26px;
						}
					}
				}
			}

			div#meta {
				display: flex;
				justify-content: center;
				border-top: 1px #ddd solid;

				> div {
					display: flex;
					justify-content: space-between;
					align-items: center;
					height: 40px;
					width: 1064px;
					font-size: 12px;
					margin: 0 32px !important;

					a {
						&:hover {
							color: #000;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

/* Only for computers */
@media only screen and (min-width: 1065px) {
	.menu-button {
		display: none;
	}
}

/* Phones and tablets */
@media only screen and (max-width: 1064px) {
	body {
		div#root {
			header {
				box-shadow: 0px 1px rgb(0 0 0 / 10%);

				nav {
					justify-content: space-between;

					h1 {
						font-size: 1.7em !important;
						position: initial !important;
					}

					.menu-button {
						margin: 0 16px;
						border: none;
						border-radius: 50%;
						text-align: center;
						background: transparent;
						width: 58px;
						height: 58px;
						cursor: pointer;
					}

					ul.menu {
						display: none !important;
					}
				}
			}

			main {
				> div {
					margin-top: 0;

					section {
						&:last-child {
							margin-bottom: 32px !important;
						}

						&.full-width-small {
							margin: 0 -32px;
							margin-bottom: 32px;
						}
					}
				}
			}

			footer {
				div#footer {
					> div {
						flex-direction: column !important;

						> div {
							margin: 0 !important;

							&:first-child {
								margin-top: 16px !important;
							}

							&:last-child {
								margin-bottom: 32px !important;
							}
						}
					}
				}
			}
		}
	}

	.history-image-one {
		float: none !important;
		margin-right: 0 !important;
		margin-left: -32px !important;
		margin-bottom: 32px !important;
		width: calc(100% + 64px) !important;
		max-width: calc(100% + 64px) !important;
	}
}

.hide {
	display: none !important;
}

.history-image-one {
	float: left;
	margin-right: 32px;
	margin-bottom: 16px;
	max-width: 24%;
}

table,
th,
td {
	border: none;
}

table {
	display: table;
	margin: auto;
	width: 100%;
	max-width: 512px;
	border-collapse: collapse;
	border-spacing: 0;

	tr {
		border-bottom: $border;

		td,
		th {
			height: 40px;
			display: table-cell;
			text-align: left;
			vertical-align: middle;
		}
	}
}
