@import "./assets/scss/_swiper-plugin.scss";

@font-face {
	font-family: Marck Script;
	src: url("./assets/fonts/Marck-Script.woff2");
}

@font-face {
	font-family: Roboto Slab;
	src: url("./assets/fonts/Roboto-Slab.woff2");
}

@keyframes wave-animate {
	0% {
		width: 0;
		height: 0;
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

@keyframes spin-360 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Marck Script;
	font-weight: 300;
}

h2 {
	font-size: 2.2em;
}

a {
	color: #333;
	text-decoration: none;
}

body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: Roboto Slab;
	color: #666;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	div#root {
		display: flex;
		min-height: 100vh;
		flex-direction: column;

		main {
			flex: 1 0 auto;
			> div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				section {
					max-width: 1064px;
					margin-left: 32px !important;
					margin-right: 32px !important;

					&:last-child {
						margin-bottom: 48px;
					}

					h2 {
						text-align: center;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1064px) {
	body {
		div#root {
			main {
				> div {
					section {
						&:last-child {
							margin-bottom: 32px !important;
						}
						&.full-width-small {
							margin: 0 !important;
						}
					}
				}
			}
		}
	}

	.history-image-one {
		float: none !important;
		margin-right: 0 !important;
		margin-left: -32px !important;
		width: calc(100% + 64px);
		max-width: calc(100% + 64px) !important;
	}
}

.hide {
	display: none !important;
}

.history-image-one {
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
	max-width: 23.3%;
}
